.content {
  display: flex;
  justify-content: space-between;
  padding: 60px 70px;
  height: 600px;
}
.slide {
  background-image: linear-gradient(#d1f8ff, #efcfff);
}
.img {
  width: 150px;
  margin-top: -20px;
  margin-left: -60px;
}
.left {
  margin-top: 100px;
  h2 {
    font-size: 32px;
    color: #fff;
    line-height: 1.4;
    display: block;
    text-shadow: 3px 1px 6px rgba(255, 255, 255, 0.2);
  }
  img {
    margin: 0 0 0 -60px;
    width: 400px;
  }
}
.right {
  display: flex;
  align-items: flex-start;
  h2 {
    font-size: 24px;
    color: #383b8c;
    margin-top: 100px;
    line-height: 1.4;
    width: 240px;
    margin-left: -50px;
    text-shadow: 3px 1px 6px rgba(255, 255, 255, 0.2);
  }
  img {
    width: 500px;
    margin-top: -40px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 500px;
  }
  .slide {
    height: 290px;
  }
  .img {
    width: 80px;
    margin-top: -10px;
    margin-left: 0px;
  }
  .left {
    margin-top: 20px;
    h2 {
      font-size: 14px;
    }
    img {
      margin: 0 0 0 -20px;
      width: 200px;
    }
  }

  .right {
    h2 {
      font-size: 14px;
      margin-top: 0;
      width: 160px;
    }
    img {
      margin-left: -60px;
      width: 160px;
      margin-top: -20px;
    }
  }
}
