.label {
  display: inline-block;
  color: #555;
  margin-right: 6px;
}
.row {
  position: relative;
  margin-bottom: 36px;

  i {
    position: absolute;
    left: -45px;
    top: -4px;
    width: 36px;
    height: 36px;
    background-color: rgba(2, 80, 197, 0.05);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 24px;
    display: block;
  }
}
.content {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 50px;
}
