.content {
  display: flex;
  justify-content: space-between;
  padding: 60px 70px;
  box-sizing: content-box;
}
.slide {
  background: #cbe2e4;
  height: 600px;
}
.img {
  width: 150px;
  margin-top: -20px;
  margin-left: -60px;
}
.left {
  display: flex;
  align-items: flex-end;
  h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.4;
    text-shadow: 3px 1px 6px rgba(255, 255, 255, 0.2);
  }
  img {
    width: 320px;
    margin-top: 40px;
  }
}

.right {
  display: flex;
  align-items: flex-start;
  h2 {
    font-size: 24px;
    color: #383b8c;
    margin-top: 100px;
    line-height: 1.4;
    width: 300px;
    margin-right: -220px;
    text-shadow: 3px 1px 6px rgba(255, 255, 255, 0.2);
  }
  img {
    width: 500px;
    margin-top: -40px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 500px;
  }
  .slide {
    height: 290px;
  }
  .img {
    width: 80px;
    margin-top: -10px;
    margin-left: 0px;
  }
  .left {
    h2 {
      font-size: 14px;
    }
    img {
      width: 120px;
      margin-top: 20px;
    }
  }

  .right {
    display: flex;
    align-items: flex-start;
    h2 {
      font-size: 12px;
      margin-top: 20px;
      width: 100px;
      margin-right: -70px;
    }
    img {
      width: 180px;
      margin-top: -40px;
    }
  }
}
